{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-2">
        <form action="/" method="GET">
        <!-- List the todo items here -->
          <uL>
            {% for item in items %}
            <div class="mb-1">
              <input type="button" value="Completed"  onclick="window.location.href='{{ url_for('completed', id=item.id) }}'"> 
              <input type="button" value="Not Started" onclick="window.location.href='{{ url_for('not_started', id=item.id) }}'">
              <input type="button" value="delete" onclick="window.location.href='{{ url_for('delete', id=item.id) }}'">
              &emsp; {{ item.id }} - {{ item.status }} - {{ item.title }} 
            </div>
            {% endfor %}
          </uL>
          <div class="mb-1">
            <div class="col-md-5">
              <label for="new_item">Take Action :</label>
          <input type="submit" value="Not Started" name="Action 1">
          <input type="submit" value="Completed" name="Action 2">
          <input type="submit" value="delete" name="Action 3">
          </div>
          </div>

        </form>
      </ul>
    </div>
  </div>

  <form action="/additem" method="POST">

    <div class="col-md-5">
    <div class="mb-0">
        <label for="new_item">New ToDo entry:</label>
        <input type="text" id="new_item" name="new_item" placeholder="Enter ToDo">
        <input type="submit" value="Submit">
    </div>
  </div>
  </form>
{% endblock %}