{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-2">
        <form action="/" method="GET">
        <!-- List the todo items here -->
          <ul>
            {% for item in view_model.todo_items %}
            <div class="mb-1">
              <input type="button" value="Completed" name="todo_{{loop.index0}}" onclick="window.location.href='{{ url_for('completed', id=item.id) }}'">
              <input type="button" value="delete" name="todo_delete_{{loop.index0}}" onclick="window.location.href='{{ url_for('delete', id=item.id ) }}'">
              &emsp; 
              <span id="todo_text_{{loop.index0}}">{{ loop.index0 + 1 }} - {{ item.status }} - {{ item.name }}</span>
            </div> 
            {% endfor %}


            {% for item in view_model.done_items %}
            <div class="mb-1">
              <input type="button" value="Not Started" name="done_{{loop.index0}}" + loop.index0 onclick="window.location.href='{{ url_for('not_started', id=item.id) }}'">
              <input type="button" value="delete" name="done_delete_{{loop.index0}}" onclick="window.location.href='{{ url_for('delete', id=item.id ) }}'">
              &emsp; 
              <span id="done_text_{{loop.index0}}">{{ loop.index0 + 1 }} - {{ item.status }} - {{ item.name }}</span>
            </div> 
            {% endfor %}
          </ul>
        </form>
      </ul>
    </div>
  </div>

  <form action="/additem" method="POST">
    <div class="col-md-5">
    <div class="mb-0">
        <label for="new_item">New ToDo entry:</label>
        <input type="text" id="new_item" name="new_item" placeholder="Enter ToDo">
        <input type="submit" name="submit" value="Submit">
    </div>
  </div>
  </form>
{% endblock %}